<div class="card-produto">
    <img src="images/produto-image.png" />
    <h3>Camiseta Nike Sportswear Feminina</h3>
    <span class="tag-categoria">casual</span>
    <h2 id="preco">R$59,99</h2>
    <button class="btn-primario">Adicionar ao carrinho</button>
</div>

@code {

}
